@import "tailwindcss";

:root {
  --background: #0f1014;
  /* --foreground: #171717; */

  --border-green-primary: #64da87;
  background-color: #0f1014;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1014;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.press-start {
  font-family:
    "Press Start 2P",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-weight: 400; /* the only weight for this font */
}

.dunggeunmo {
  font-family: var(--font-dunggeunmo), monospace;
}
