.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0b0e;
}

.header .container {
  width: 1037px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  gap: 87px;
  padding-top: 40px;
}

.header .container .left-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 60px; */
  height: 100%;
  padding-top: 40px;
}

.header .container .left-container .header-title {
  font-family: "EB Garamond", serif;
  font-weight: 600; /* SemiBold */
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0%;
  max-width: none; /* Remove width restriction */
  width: 550px; /* Make the title wider */
  position: relative;
  /* Move it slightly to the right */
  overflow: visible; /* Allow it to extend beyond the container */
  margin: 0;
}

.header .container .left-container .header-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #f1f0ddb2;
  max-width: 555px;
  padding-bottom: 60px;
}

.header .container .left-container .write-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41d26c;
  color: #0f1014;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  border-radius: 8px;
  padding: 32px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  width: 240px;
  height: 52px;
}

.header .container .left-container .write-button:hover {
  background-color: #2563eb;
}

.header .container .right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 474px;
}

.header .header-bottom {
  width: 1280px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    #0f1014 -26.83%,
    rgba(63, 67, 84, 0) 100%
  );
}
