
.navbar {
   width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0A0B0E;
}

.container {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 0;
}

.login-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    border-right: 8px;
    gap: 12px;
}

.signup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 100%;
}

.signup-btn:hover {
    color: skyblue;
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFFFFF26;
    line-height: 100%;
}

.login-btn:hover {
    background-color: #FFFFFF40;
}

