.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #0a0b0e;
}

.navbar .wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #0a0b0e;
}

.navbar .container {
  width: 100%;
  max-width: 1037px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 0;
}

.login-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  border-right: 8px;
  gap: 12px;
}

.signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 100%;
}

.signup-btn:hover {
  color: skyblue;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff26;
  line-height: 100%;
}

.login-btn:hover {
  background-color: #ffffff40;
}
