.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  background-color: #0a0b0e;
}

.navbar .container {
  max-width: 1037px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 35px 0;
}

.login-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  border-right: 8px;
  gap: 12px;
}

.signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 100%;
}

.signup-btn:hover {
  color: skyblue;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff26;
  line-height: 100%;
}

.login-btn:hover {
  background-color: #ffffff40;
}
